@charset "UTF-8";

:root{
    --primarycolor: #262626;
    --secudarycolor: #1f1f1f;
    --linkcolor: white;
    --brandcolor: #F25252; 
    --primaryopacitycolor: #1f1f1fe0;
}

*{
    padding: 0px;
    margin: 0px;
    transition: all 1s;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}
header{
    background-color: var(--primarycolor);
    background: url('../img/header-background.jpg')no-repeat center center;
    background-size: cover;
    
}
header a{
    text-decoration: none;
    color: var(--linkcolor);
    transition: all 0.2s;
}
header .container{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0px auto;
}
header .container h2 a{
    color: var(--brandcolor);
}
header nav{
    background-color: var(--primaryopacitycolor);
}
header nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
header nav ul li{
    margin-left: 20px;
    transition: all 1s;
}
header nav ul li:hover{
    border-bottom: 1px solid var(--brandcolor);
}
header nav ul li a:hover{
    color: var(--brandcolor);
}
#humberger{
    cursor: pointer;
    display: none;
}
#humberger div{
    background-color: var(--linkcolor);
    width: 22px;
    height: 3px;
    margin-top: 4px;
}
header .hero{
    height: 80vh;
    display: flex;
    align-items: center;
    background-color: var(--primaryopacitycolor);
}
header .hero p{
    color: #c1c1c1;
    font-size: 20pt;
}
header .hero h1{
    color: var(--linkcolor);
    font-size: 35pt;
    font-weight: bold;
}
header .hero span{
    text-decoration: underline;
    color: var(--brandcolor);
}
header .hero-content{
    width: 90%;
    margin: 0px auto;

}
header .footer{
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: var(--primaryopacitycolor);
}
header .footer span i{
    color: var(--linkcolor);
    padding-bottom: 20px;
}

main #section-about{
    background-color: var(--secudarycolor);
    padding: 100px 0px;
}
main .container{
    width: 90%;
    margin: 0px auto;
    text-align: center;
    padding: 20px;
}
main h2{
    color: var(--brandcolor);
    padding-top: 25px;
    font-size: 30pt;
    text-align: center;
}
.box-sectionabout{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.box-img{
    flex: 1 1 200px;
    background-color: var(--brandcolor);
    height: 350px;
    border-radius: 20px 0px 0px 20px;
}
.box-content{
    flex: 2 1 300px;
    padding: 20px;
}
.box-content p{
    text-align: justify;
    color: var(--linkcolor);
    line-height: 20pt;
}
.box-content span{
    color: var(--brandcolor);
}
.box-content .pai-button{
    text-align: left;
    padding-top: 20px;
}
.box-content button{
    border: none;
    padding: 10px;
    background-color: var(--brandcolor);
    width: 100px;
    color: var(--linkcolor);
}
#section-skills{
    background-color: var(--primarycolor);
    padding: 100px 0px;
}
#section-skills .container{
    width: 55%;
}
.box-section-skills{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.box-section-skills p{
    color: var(--linkcolor);
    padding: 15px 0px;
}
.box-skills-1{
    flex: 1 1 400px;
    text-align: left;   
}
.box-skills-2{
    flex: 2 1 300px;
    text-align: left;   
}
.bar-section-skills{
    width: 250px;
    height: 10px;
    background-color: #c1c1c1;
}
.bar-value{   
    height: 100%;
    background-color: var(--brandcolor);
}
#section-portfolio{
    background-color: var(--secudarycolor);
}
.container-portfolio{
    width: 50%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}
.item{
    border: 1px solid white;
    width: 30%;
    height: 200px;
    margin: 8px;
}
#section-services{
    background-color: var(--primarycolor);
}
#section-services .container-services{
    width: 60%;
    margin-inline: auto;
    display: flex;
    padding: 10px;
}
#section-services .container-services .card-serves{
    border: 1px solid white;
    width: 50%;
    margin-inline: 10px;
}
#section-services .container-services .card-serves .card-section-img{
    width: 100%;
    height: 200px;
    padding: 10px;
}
#section-services .container-services .card-serves .card-section-contend h2{
    padding: 10px;
}
#section-services .container-services .card-serves .card-section-contend p{
    text-align: justify;
    color: var(--linkcolor);
}
@media only screen and (max-width: 760px){
    
    #humberger{
        display: block;
    }
    header nav #humberger.active .bar:nth-child(2){
        opacity: 0;
    }
    header nav #humberger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    header nav #humberger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    header nav div ul{
        position: fixed;
        left: 100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        text-align: center;
        width: 100%;
        transition: 0.3s;
        background-color: #1f1f1f;
    }
    header nav div ul.active{
        left: 0%;
    }
    header nav div ul li{
        margin: 16px 0; 
    }
    .box-img{
        border-radius: 20px 20px 0px 0px;
    }

}
