
@charset "UTF-8";
/*---------------------------------------------------Variaveis-------------------*/
:root{
    --primarycolor: #262626;
    --secudarycolor: #1f1f1f;
    --linkcolor: white;
    --brandcolor: #F25252; 
    --primaryopacitycolor: #1f1f1fe0;
}
/*------------------------------------Configuração Global------------------------------------------------------*/
*{
    padding: 0px;
    margin: 0px;
    transition: all 1s;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/*----------------------------------------------------------------Header-----------------------------------*/


header{
    background-color: var(--secudarycolor);   
}
header > nav{
    position: fixed;
    width: 100vw;
    background-color: rgb(29, 27, 27);
    
}
header > nav > .container{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0px auto;
}
header > nav > .container > h2 > a{
    color: var(--brandcolor);
    text-decoration: none;
}
header > nav > .container > ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
header > nav > .container > ul > li{
    margin-left: 20px;
    transition: all 1s;
}
header > nav > .container > ul > li:hover{
    border-bottom: 1px solid var(--brandcolor);
}
header > nav > .container > ul > li > a{
    text-decoration: none;
    color: var(--linkcolor);
    transition: all 0.2s;
}
header > nav > .container > ul > li > a:hover{
    color: var(--brandcolor);
}
/*----------------------------------------------------------------Menu Hamburguer------------------------------------*/
#humberger{
    cursor: pointer;
    display: none;
}
#humberger > div{
    background-color: var(--linkcolor);
    width: 22px;
    height: 3px;
    margin-top: 4px;
}

header > .hero{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 0px auto; 
}

header > .hero > .hero-content, 
header > .hero > .hero-img {
    flex: 1; 
}
header > .hero > .hero-content > p{
    font-size: 20pt;
}
header > .hero > .hero-content > h1{
    color: white;
    font-size: 35pt;
    font-weight: bold;
}
header > .hero > .hero-content > h2 {
    color:white;
}
header > .hero > .hero-content > p > span{
    color: var(--brandcolor);
}

header > .hero > .hero-content > .pai-button{
    text-align: left;
    padding-top: 20px;
}
header > .hero > .hero-content > .pai-button >  button{
    border: none;
    padding: 10px;
    background-color: var(--brandcolor);
    width: 100px;
    color: var(--linkcolor);
    cursor: pointer;
}
header > .hero > .hero-img > img{
    width: 50%;
    height: 50%;
}
header .footer{
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: var(--primaryopacitycolor);
}
header .footer span i{
    color: var(--linkcolor);
    padding-bottom: 20px;
}

main #section-about{
    background-color: var(--secudarycolor);
    padding: 5px 0px;
}
main .container{
    width: 90%;
    margin: 0px auto;
    text-align: center;
    padding: 20px;
}
main h2{
    color: var(--linkcolor);
    padding-top: 25px;
    font-size: 30pt;
    text-align: center;
}
.box-sectionabout{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.box-img{
    border-radius: 10px;
    flex-basis: 300px;
    background-color: var(--brandcolor);
    background: url("../img/Lidio.jpg") no-repeat;
    background-size: cover;
    background-position: center center;

}
.box-content{
    height: 350px;
    border-radius: 20px;
}
.box-content{
    flex: 2 0 400px;
    padding: 20px 20px;
}
.box-content p{
    text-align: justify;
    color: var(--linkcolor);
    line-height: 20pt;
}
.box-content span{
    color: var(--brandcolor);
}

.box-content .pai-button{
    text-align: left;
    padding-top: 20px;
}
.box-content button{
    border: none;
    padding: 10px;
    background-color: var(--brandcolor);
    width: 100px;
    color: var(--linkcolor);
    cursor: pointer;
}

#section-skills{
    background-color: var(--primarycolor);
    padding: 5px 0px;
}
#section-skills .container{
    width: 55%;
}
.box-section-skills{
    width: 80%;
    margin: 0px auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

    
}
.box-section-skills > div{
    width: 30%;
    padding: 20px;
}
svg{
    fill: var(--brandcolor);
}

.bar-section-skills{
    width: 250px;
    height: 10px;
    background-color: #c1c1c1;
}
.bar-value{   
    height: 100%;
    background-color: var(--brandcolor);
}
#section-portfolio{
    background-color: var(--secudarycolor);
}
.container-portfolio{
    width: 80%;
    margin: 0px auto;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}


.container-portfolio > #card > .card-body{
  
    background-color: #181818;
    margin: 10px;
    border-radius: 10px;
}
.container-portfolio #card:hover{
    background-color: var(--primarycolor);
    box-shadow: 3px 3px 10px #181818;
}
.container-portfolio > #card > a{
    color: white;
    text-align: justify;
    text-decoration: none;
}
.container-portfolio > #card > a > .card-img{
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}
.container-portfolio > #card > a > .card-img > img{ 
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
.container-portfolio > #card > a > .card-body{
    padding: 20px;
}

.item{
    border: 1px solid white;
    width: 30%;
    height: 200px;
    margin: 8px;
}
#section-services{
    background-color: var(--primarycolor);
}
#section-services .container-services{
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
  }
#section-services .container-services .card-serves{
    flex-basis: 300px;
    padding: 30px;
    margin-right: 20px;
    background-color: var(--secudarycolor);
    height: 250px;
}
#section-services .container-services .card-serves .card-section-img{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
#section-services .container-services .card-serves .card-section-img svg{
    height: 100px;
}
#section-services .container-services .card-serves .card-section-contend h3{
    color: var(--linkcolor);
    padding: 20px 10px 20px 10px;
    text-align: center;
    
}
#section-services .container-services .card-serves .card-section-contend p{
    text-align: justify;
    color: var(--linkcolor);
    line-height: 20pt;
}
#section-contact{
    background-color: var(--secudarycolor);
    padding-bottom: 20px;
}

.container-contact{
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
#section-contact > form{
    width: 50%;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#section-contact > form > h3,label{
    color: var(--linkcolor);
}
#section-contact > form > h3{
    padding: 10px;
}
#section-contact > form > input{
    padding: 10px;
    border: none;
    border-radius: 10px;
    flex: 1;
}

#section-contact > form > textarea{
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 200px;
}
#section-contact > form > input[type = 'submit']{
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: var(--linkcolor);
    background-color: var(--brandcolor);
    width: 200px;
}
#section-contact > form > input[type = 'submit']:hover{
    cursor: pointer;
    box-shadow: 5px 5px 6px #000;
}
.card-contact{
    flex-basis: 300px;
    padding: 30px;
    margin-right: 20px;
}
#section-contact > .container-contact > .card-contact, h3{
    color: var(--linkcolor);
    padding-bottom: 10px;
    text-align: center;
}
#section-contact .container-contact .card-contact p a{
    color: var(--brandcolor);
    padding-bottom: 10px;
    text-decoration: none;
}
#section-contact .card-contact ul{
    list-style: none;
    display: flex;
}
#section-contact .card-contact ul li{
    margin-right: 10px;
}
#section-contact .card-contact ul li a img{
    width: 25px;
    height: 25px;
}

